<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksbank.minibank.strict.online.dao.FurikomiDao">

    <resultMap id="select_01_resultMap" type="com.ksbank.minibank.strict.online.dto.FurikomiDto">
        <result property="HV_ZAN" column="zandaka"/>
        <result property="HV_JOU" column="joutai"/>
    </resultMap>

    <select id="select_01" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto" resultMap="select_01_resultMap"><![CDATA[
        SELECT zandaka, joutai FROM kouza WHERE kouza_no = #{HV_KOUZA}
    ]]></select>

    <select id="select_02" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto" resultType="long"><![CDATA[
        SELECT COUNT(*) FROM kouza WHERE kouza_no = #{HV_AITE}
    ]]></select>

    <resultMap id="select_03_resultMap" type="com.ksbank.minibank.strict.online.dto.FurikomiDto">
        <result property="HV_TID" column="hv_tid"/>
        <result property="HV_RSEQ" column="hv_rseq"/>
    </resultMap>

    <select id="select_03" resultMap="select_03_resultMap"><![CDATA[
        SELECT nextval('seq_torihiki') AS hv_tid, nextval('seq_receipt_asis') AS hv_rseq
    ]]></select>

    <update id="update_01" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto"><![CDATA[
        UPDATE kouza SET zandaka = #{HV_ZAN} WHERE kouza_no = #{HV_KOUZA}
    ]]></update>

    <insert id="insert_01" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto"><![CDATA[
        INSERT INTO torihiki
          (torihiki_id, kouza_no, torihiki_dt, torihiki_kbn,
           kingaku, aite_kouza, tesuryo, tekiyou)
        VALUES
          (#{HV_TID}, #{HV_KOUZA}, #{HV_DT}, '3',
           #{HV_AMT}, #{HV_AITE}, #{HV_FEE}, NULL)
    ]]></insert>

    <select id="select_04" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto" resultType="long"><![CDATA[
        SELECT zandaka FROM kouza WHERE kouza_no = #{HV_AITE}
    ]]></select>

    <update id="update_02" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto"><![CDATA[
        UPDATE kouza SET zandaka = #{HV_AZAN} WHERE kouza_no = #{HV_AITE}
    ]]></update>

    <select id="select_05" resultType="long"><![CDATA[
        SELECT nextval('seq_torihiki')
    ]]></select>

    <insert id="insert_02" parameterType="com.ksbank.minibank.strict.online.dto.FurikomiDto"><![CDATA[
        INSERT INTO torihiki
          (torihiki_id, kouza_no, torihiki_dt, torihiki_kbn,
           kingaku, aite_kouza, tesuryo, tekiyou)
        VALUES
          (#{HV_TID2}, #{HV_AITE}, #{HV_DT}, '1',
           #{HV_AMT}, NULL, NULL, NULL)
    ]]></insert>

</mapper>
