<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksbank.minibank.strict.online.dao.MeisaiDao">

    <resultMap id="select_01_resultMap" type="com.ksbank.minibank.strict.online.dto.CMeisaiDto">
        <result property="RW_DT" column="rw_dt"/>
        <result property="RW_KBN" column="rw_kbn"/>
        <result property="RW_KIN" column="rw_kin"/>
        <result property="RW_TES" column="rw_tes"/>
        <result property="RW_TEK" column="rw_tek"/>
        <result property="RW_AITE" column="rw_aite"/>
    </resultMap>

    <select id="select_01" parameterType="com.ksbank.minibank.strict.online.dto.MeisaiDto" resultMap="select_01_resultMap"><![CDATA[
        SELECT torihiki_dt AS rw_dt, torihiki_kbn AS rw_kbn, kingaku AS rw_kin,
               COALESCE(tesuryo,0) AS rw_tes, tekiyou AS rw_tek, COALESCE(aite_kouza,0) AS rw_aite
          FROM torihiki
         WHERE kouza_no = #{HV_KOUZA}
         ORDER BY torihiki_dt ASC, torihiki_id ASC
    ]]></select>

    <select id="select_02" parameterType="com.ksbank.minibank.strict.online.dto.MeisaiDto" resultType="long"><![CDATA[
        SELECT COUNT(*) FROM kouza WHERE kouza_no = #{HV_KOUZA}
    ]]></select>

    <select id="select_03" parameterType="com.ksbank.minibank.strict.online.dto.MeisaiDto" resultType="long"><![CDATA[
        SELECT zandaka FROM kouza WHERE kouza_no = #{HV_KOUZA}
    ]]></select>

</mapper>
