<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksbank.minibank.strict.online.dao.NOTICEDao">

    <!-- EXEC SQL DECLARE C-NOTICE CURSOR FOR SELECT NOTICE_DATE, TAG, TITLE
           FROM NOTICE_ASIS WHERE IS_ACTIVE = :HV-ACT
          ORDER BY NOTICE_DATE DESC, NOTICE_ID DESC -->
    <select id="select_01" parameterType="NOTICEDto" resultType="CNOTICEDto"><![CDATA[
        SELECT notice_date AS c_date, tag AS c_tag, title AS c_title
          FROM NOTICE_ASIS
         WHERE IS_ACTIVE = #{HV_ACT}
         ORDER BY NOTICE_DATE DESC, NOTICE_ID DESC
    ]]></select>

    <!-- EXEC SQL SELECT SEQ_NOTICE_ASIS.NEXTVAL INTO :HV-NID FROM DUAL END-EXEC -->
    <select id="select_02" resultType="long"><![CDATA[
        SELECT nextval('seq_notice_asis')
    ]]></select>

    <!-- IF WK-BODY = SPACES EXEC SQL INSERT ... NULL ... END-EXEC END-IF -->
    <insert id="insert_01" parameterType="NOTICEDto"><![CDATA[
        INSERT INTO NOTICE_ASIS
          (NOTICE_ID, NOTICE_DATE, TAG, TITLE, BODY, IS_ACTIVE)
        VALUES
          (#{HV_NID}, #{HV_DATE}, RTRIM(#{HV_TAG}),
           RTRIM(#{HV_TITLE}), NULL, #{HV_ACT})
    ]]></insert>

    <!-- ELSE EXEC SQL INSERT ... RTRIM(:HV-BODY) ... END-EXEC -->
    <insert id="insert_02" parameterType="NOTICEDto"><![CDATA[
        INSERT INTO NOTICE_ASIS
          (NOTICE_ID, NOTICE_DATE, TAG, TITLE, BODY, IS_ACTIVE)
        VALUES
          (#{HV_NID}, #{HV_DATE}, RTRIM(#{HV_TAG}),
           RTRIM(#{HV_TITLE}), RTRIM(#{HV_BODY}), #{HV_ACT})
    ]]></insert>

</mapper>
