<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksbank.minibank.strict.online.dao.SignupDao">

    <select id="select_01" resultType="long"><![CDATA[
        SELECT nextval('seq_kouza_dyn')
    ]]></select>

    <insert id="insert_01" parameterType="com.ksbank.minibank.strict.online.dto.SignupDto"><![CDATA[
        INSERT INTO kouza
          (kouza_no, meigi_kanji, meigi_kana, shubetsu,
           zandaka, kaisetsu_bi, joutai)
        VALUES
          (#{HV_NEWNO}, RTRIM(#{HV_KANJI}), RTRIM(#{HV_KANA}),
           #{HV_SHU}, 0, #{HV_KAI}, '0')
    ]]></insert>

    <insert id="insert_02" parameterType="com.ksbank.minibank.strict.online.dto.SignupDto"><![CDATA[
        INSERT INTO kouza_ext
          (kouza_no, branch_code, acct_type,
           password, is_primary)
        VALUES
          (#{HV_NEWNO}, RTRIM(#{HV_BR}), RTRIM(#{HV_TYPE}),
           RTRIM(#{HV_PW}), 'N')
    ]]></insert>

</mapper>
