<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksbank.minibank.strict.online.dao.ZandakaDao">

    <resultMap id="select_01_resultMap" type="com.ksbank.minibank.strict.online.dto.ZandakaDto">
        <result property="HV_KANJI" column="hv_kanji"/>
        <result property="HV_KANA" column="hv_kana"/>
        <result property="HV_SHU" column="hv_shu"/>
        <result property="HV_ZAN" column="hv_zan"/>
        <result property="HV_JOU" column="hv_jou"/>
    </resultMap>

    <select id="select_01" parameterType="com.ksbank.minibank.strict.online.dto.ZandakaDto" resultMap="select_01_resultMap"><![CDATA[
        SELECT meigi_kanji AS hv_kanji, meigi_kana AS hv_kana, shubetsu AS hv_shu,
               zandaka AS hv_zan, joutai AS hv_jou
          FROM kouza
         WHERE kouza_no = #{HV_KOUZA}
    ]]></select>

</mapper>
